/* body {background-color: coral;} */

.message {
    font-weight: 600;
    color: blue;
}

.body-content {
    width: 50%;
    margin: auto;
}

.block *{
    margin: 24px auto;
    text-align: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    /* margin: 24px auto; */
    display: inline-block;
}

.button {
    font-size: 18px;
}

/* .navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
} */

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.picardia {
    width: 128px;
    height: 128px;
    background: url('spritesheet.png') left center;
    background-size: cover;
    animation: play 1s steps(19) infinite;
    /* display: inline-block; */
}

.picardiaspacer {
    width: 128px;
    height: 184px;
}


@keyframes play {
    100% { background-position: -2432px;} 
}